/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*Nav Bar Styles - entered by kyle hauenstein*/

nav {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;    
}

.logo {
    width: 30%;
}

.logo img {
    width: 100%;
    margin-top: 3%;
}

.links {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.links a {
    text-decoration: none;
    margin: 1% 2%;
}

/*banner image styles- added by kyle hauenstein*/
.banner_image{
    width: 80%;
    margin: 5% auto;
}
.banner_image img{
    width: 100%;
}

/*Top Section Styles*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

/*Top Section Styles - added by kyle hauenstein*/

.top-content .text-container {
    width: 45%;
    margin: 0 auto;
}

.top-content .text-container h2 {
    text-align: center;
}

/*Middle Section Styles*/
.middle-content {
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.middle-content .boxes .box {
    background: black;
    margin: 3% 1%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 15%;
    padding: 5% 1%;
}



/*Middle Section Styles - added by kyle hauenstein*/
#box1 {
    background-color: teal;
}
#box2 {
    background-color: gold;
}
#box3 {
    background-color: cadetblue;
}
#box4 {
    background-color: coral;
}
#box5 {
    background-color: crimson;
}
#box6 {
    background-color: forestgreen;
}
#box7 {
    background-color: darkorchid;
}
#box8 {
    background-color: hotpink;
}
#box9 {
    background-color: indigo;
}
#box10 {
    background-color: dodgerblue;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:33%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-content .text-container h2 {
    margin: 10% auto;
}

/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}

footer nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer nav a{
    text-decoration: none;
    color: white;
}

/*About Page Styles*/


.about-page {
    border-bottom: 2px solid #ff4b00;
}

.about-page h2{
    margin: 3% auto;
}

.about-page p{
    margin: 3% auto;
}

.container.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.container.categories .topic{
    width: 45%;
    margin: 5% 0;
    border-bottom: 2px solid #ff4b00;
}

.container.container.categories .topic img{
    width: 100%;
}
.container.categories .topic h2{
    margin: 2% auto;
}

.container.categories .topic p{
    margin: 5% 0;
}

.bottom-container h2{
    margin: 3% auto;
}

.bottom-container p{
    margin: 3% auto;
}


/*Responsive Styles*/

@media (max-width: 500px) {
    nav {
        display: block;
        justify-content: center;
    }
    .links {
        width: 100%;
    }

    .links a {
        margin: 2% auto;
    }

    .logo {
        width: 100%;
        margin: 2% auto;
        justify-content: center;
        display: flex;
    }

    .logo img{
        width: 50%;
        margin: 0 auto;
    }

    .about-page h2{
        text-align: center;
    }

    .container.categories{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container.categories .topic{
        width: 100%;
    }

    .container.categories .topic h2{
        text-align: center;
    }

    .bottom-container h2{
        text-align: center;
    }

    footer nav {
        flex-direction: column;
    }

    footer nav a{
        margin: 1% auto
    }

    .top-content .text-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .middle-content .boxes .box {
        width: 40%;
        padding: 10% 0;
        
    }  
    
    .bottom-content{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bottom-content .text-container {
        width: 100%;
    }

    .bottom-content .text-container h2 {
        text-align: center;
    }
}