/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #ff4b00;
}

/*Header Section Styles*/

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% auto 3% auto;
}

header .container a {
    text-decoration: none;
    width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .container a img {
    width: 40%;
    
    
}

/* Banner Image */

.banner_image {
    display: flex;
    align-content: normal;
    justify-content: center;
    align-items: stretch;
}

/*Top Section Styles*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 1% solid #ff4b00;
    text-align: justify;
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

.top-content .text-container h2{
    text-align: center;
}

/*Middle Section Styles*/
.middle-content {
    margin-bottom: 4%;
    border-bottom: 1% solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 30%;
}

.middle-content .boxes .box {
    background: black;
    margin: 4% 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
}

#box1 {
    background: teal;    
}

#box2 {
    background: gold;    
}

#box3 {
    background: cadetblue;    
}

#box4 {
    background: coral;    
}

#box5 {
    background: crimson;    
}

#box6 {
    background: forestgreen;    
}

#box7 {
    background: darkorchid;    
}

#box8 {
    background: hotpink;    
}

#box9 {
    background: indigo;    
}

#box10 {
    background: dodgerblue;    
}


/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto auto auto;
}

footer .container nav a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

/*About Page Styles*/

.about-page {
    padding: 5% 10%;
    margin: 1% auto;
    border-bottom: 2px solid #ff4b00;
    width: 70%;
}

.subsection-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.subsection {
    padding: 5% 10%;
    width: 50%;
}

.subsection p {
    border-bottom: 2px solid #ff4b00;
    padding-bottom: 5%;
}

.subsection img {
    width: 50%;
}

.together {
    padding: 5% 10%;
    margin: 1% auto;
    width: 70%;
}

.about_footer {
    background-color: #ff4b00;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    justify-content: space-around;
}

.about_footer nav {
    
    display: flex;
    text-align: center;
    align-items: center;
}


.about_footer nav a {
    text-decoration: none;
    color: white;
    padding: 5% 5%;
}
/*Responsive Styles*/

@media(max-width: 500px){
    .subsection-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}